.pokemon-list-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 100%;
    border-radius: 1rem;
    margin: auto;
  }
  
  .pokemon-list-container.light {
    background-color: #f9f9f9;
    color: #333;
  }
  
  .pokemon-list-container.dark {
    background-color: #333;
    color: #f9f9f9;
  }
  
  .filter-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filter-controls input,
  .filter-controls select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
/* Light Theme */
.pokemon-list-container.light .pokemon-card {
    background-color: #fff;
    color: #333;
}

/* Dark Theme */
.pokemon-list-container.dark .pokemon-card {
    background-color: #444;
    color: #f9f9f9;
}

  .pokemon-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .pokemon-card img {
    max-width: 100px;
    margin-bottom: 10px;
  }
  
  .pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-controls button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
  }
  
  .pagination-controls button:hover {
    background-color: #0056b3;
  }
  
  .pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .theme-toggle {
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    transition: background-color 0.3s;
  }
  
  .theme-toggle:hover {
    background-color: #218838;
  }

  .form-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }