/* Main container for the content */
.pokemon-detail {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}

.pokemon-detail h1 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

/* Pokemon Overview Section */
.pokemon-overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;
  text-align: center;
}

.pokemon-info img {
  max-width: 400px;
  max-height: 400px;
}

.cry-button {
  padding: 8px 16px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.cry-button:hover {
  background-color: #e6b800;
}

.pokemon-info p span {
  background-color: #ddd;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1rem;
  display: inline-block;
}

/* Abilities Section */
.abilities-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.abilities-section h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.abilities-section ul {
  list-style-type: none;
  padding: 0;
}

.abilities-section ul li {
  font-size: 1.2rem;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

/* Stats Section */
.stats-section h3 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.stat-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.stat-name {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.progress-bar-container {
  background-color: #f2f2f2;
  border-radius: 5px;
  width: 70%;
  height: 10px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  height: 100%;
  text-align: center;
  line-height: 10px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
}

.progress-bar.hp {
  background-color: #ff5959;
}

.progress-bar.attack {
  background-color: #ff9f00;
}

.progress-bar.defense {
  background-color: #1f78b4;
}

.progress-bar.special-attack {
  background-color: #ff34b3;
}

.progress-bar.special-defense {
  background-color: #7d5fff;
}

.progress-bar.speed {
  background-color: #34c759;
}

/* Evolution Section */
.evolution-section {
  margin-top: 30px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button-group button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.button-group button:hover {
  background-color: #0056b3;
}

.button-group button.bg-white {
  background-color: #fff;
  color: #007bff;
}

.evolution-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.evolution-table th {
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: #007bff;
  color: white;
  padding: 10px;
}

.evolution-table td {
  font-size: 1.2rem;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.evolution-table .highlight {
  background-color: #e6f7ff;
}

.evolution-table td:hover {
  background-color: #f5f5f5;
}

/* Modal Section */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.modal.show {
  display: flex;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.close {
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.button-form {
  padding: 10px 20px;
  background-color: #007bff; /* Primary blue color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

.button-form:hover {
  background-color: #0056b3;
  transform: scale(1.01);
}